body {
    margin: 0px;
}
p  {
    letter-spacing: 1px;
    line-height: 1.2rem;
}

h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}

.page-content {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sport-title {
    position: absolute;
}