.page-content > .left-navigation-bar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 2px;
    background-color: #222222;    
}

.page-content > .left-navigation-bar > .sports-button a {
    text-decoration: none;
    color: #f0efef;
}

.page-content > .left-navigation-bar > .sports-button {
    display: flex;
    padding: 3px 7px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: .5s ease-out;
}

.page-content > .left-navigation-bar > .sports-button:hover {
    background-color: #1d7fc0;
    letter-spacing: 3px;
    font-weight: 900;
}

.page-content > .left-navigation-bar > .sports-header {
    color: #f0efef;
    border: 2px;
    border-color: #f0efef;
    margin-bottom: 20px;
}